
.container .content .userinfo{
     width:95%;
     background-color: white;
     border-radius: 10px;
     display: flex;
     align-items:center;
     justify-content: center;
     gap: 10px;
     padding: 10px;
     flex-wrap: wrap;
}
.container .content .userinfo .person{
    width:200px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid rgb(212, 216, 220);
}
.container .content .userinfo .person img{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.container .content .userinfo .person h3{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.container .content .userinfo .person span{
    color: rgb(150, 155, 160);
    font-size: 15px;
}
.container .content .userinfo .person .layer1,.container .content .userinfo .person .layer2{
    height:3px;
    border-radius: 5px;
}
.container .content .userinfo .person .layer1{
    width: 80%;
    background-color: rgb(207, 213, 218);
}
.container .content .userinfo .person .layer2{
    width: 90%;
    background-color: rgb(26, 103, 210);
}
.container .content .userinfo .person .star i{
    color: rgb(237, 207, 33); 
    font-size: 10px;
}
.container .content .userinfo .info{
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.container .content .userinfo .info .info1{
     width: 100%;
     display:flex;
     justify-content:center;
     align-items:flex-start;
     flex-direction: column;
     flex-wrap: wrap;
    border-bottom: 1px solid rgb(240, 241, 243);
    padding: 10px;
    gap: 10px;
}
.container .content .userinfo .info .info1:hover{
    background-color: rgb(237, 240, 243);
}

.container .content .userinfo .info .info1 .info11{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container .content .userinfo .info .info1 p{
    text-transform: capitalize;
    font-size:15px;
}
.container .content .userinfo .info .info1 input{
    width:20px;
    height: 20px;
}
.container .content .userinfo .info .info1 span{
    color: rgb(110, 114, 119);
    text-transform: capitalize;
}
.container .content .lastbox{
    width:95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding:10px 5px 20px 5px;
}
.container .content .myskills{
     width: 220px;
     height: 490px;
     background-color: white;
     border-radius: 10px;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     padding: 10px;
} 
.container .content .myskills .skills{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
}
.container .content .myskills .skills .skill{
    width: 100%;
    border-bottom:1px solid rgb(188, 192, 196) ;
    padding: 10px;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
     gap: 5px;
}
.container .content .lastbox .myskills .skills .skill span{
    color: black;
    font-size: 12px;
    padding:3px 10px;
    text-transform: capitalize;
    background-color: rgb(237, 240, 243);
    border-radius: 10px;
}
.container .content .lastbox .latestactivity{
    width: 650px;
    background-color: white;
    border-radius: 10px;
}
.container .content .lastbox .latestactivity .heading{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .content .lastbox .latestactivity .heading h3{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.container .content .lastbox .latestactivity .heading p{
    color: rgb(185, 191, 196);
}
.container .content .lastbox .latestactivity .activities{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding:10px;
}
.container .content .lastbox .latestactivity .activities .active{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}
.container .content .lastbox .latestactivity .activities .active .info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.container .content .lastbox .latestactivity .activities .active .info img{
    width: 80px;
    border-radius: 50%;
}
.container .content .lastbox .latestactivity .activities .active .info h4,.container .content .lastbox .latestactivity .activities .active .date span{
    text-transform: capitalize;
    font-size: 18px;
}
.container .content .lastbox .latestactivity .activities .active .info p,.container .content .lastbox .latestactivity .activities .active .date p{
    font-size: 15px;
    color: rgb(165, 170, 174);
    text-transform: capitalize;
}
@media (max-width:920px) {
    .container .content .userinfo .info .info1{
        align-items: center;
        justify-content: center;
    } 
    .container .content .userinfo .info .info1 .info11{
        align-items: center;
        justify-content: center;
    } 
    .container .content .userinfo .person{
        border: 0px;
    }
    .container .content .myskills{
        width: 100%;
    }
    .container .content .lastbox .latestactivity{
        width:100%;
    }
    .container .content .lastbox .latestactivity .activities .active{
          align-items: center;
          justify-content: center;
          flex-direction: column;
    }
    .container .content .lastbox .latestactivity .activities .active .info{
        flex-direction: column;
    }
    .container .content .lastbox .latestactivity .activities .active .info .text{
        text-align: center;
    }
}